body{
  background-color: #FFBE98;
}

.landingpage{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}


.dummy {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  
}

.box {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main {
  text-align: left;
}


.main p {
  margin: 8px 0;
}

.h1{
  display: flex;
  flex-direction: column;
  align-items: center;

}