body{
  background-color: #FFBE98;
}

.landingpage{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}


.dummy{
  display: flex;
  flex-direction: column;
  align-items: center;
}